<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UW Schedule Generator</title>

  <!-- build:css vendor/vendor.css -->
  <link rel="stylesheet" type="text/css" href="lib/node/normalize.css">
  <!-- endbuild -->

  <!-- build:css application.min.css -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <!-- endbuild -->

  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73693150-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <div ng-controller="MainController" class="main">
    <div class="no-print">
      <div class="text-center pointer" ng-show="!showForm" ng-click="toggleForm()">&darr; SHOW FORM &darr;</div>
      <h1 ng-show="showForm" ng-click="toggleForm()">University of Waterloo Schedule Generator</h1>
      <form ng-show="showForm">
        <fieldset ng-disabled="generating">
          <div class="col">
            <div class="group">
              <label for="title">Title</label><input type="text" ng-model="data.title" id="title">
            </div>
            <div class="group">
              <label for="term">Term</label><input type="text" ng-model="data.term" id="term">
            </div>
            <div class="group">
              <label for="colors">Colors</label><input type="text" ng-model="data.colors" id="colors"><br>
            </div>
          </div>
          <div class="col">
            <div class="group">
              <div>
                <label>Courses</label>
              </div>
              <div>
                <div ng-repeat="course in data.course_numbers track by $index">
                  <input type="text" ng-model="data.course_numbers[$index]"><button ng-click="removeCourse($index)">X</button>
                </div>
              </div>
            </div>
            <div class="footer">
              <button ng-click="addCourse()">Add Course</button>
            </div>
          </div>
          <div class="footer">
            <button ng-click="generateSchedule()">Generate Schedule</button>
            <button ng-click="toggleForm()">Hide Form</button>
          </div>
        </fieldset>
      </form>
      <div ng-show="generating">Generating schedule...</div>
      <hr>
    </div>
    <div ng-show="!generating">
      {{error}}
      <iframe srcdoc="{{scheduleContent | toTrusted}}">No iframes!</iframe>
    </div>
  </div>

  <!-- build:js vendor/vendor.js -->
  <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/node/polyfill.min.js"></script>
  <script type="text/javascript" src="lib/angular/angular.min.js"></script>
  <!-- endbuild -->

  <!-- build:js application.min.js -->
  <script type="text/javascript" src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>
